body {
    padding-top: 10%;
    background-color: black;
    color: fuchsia;
    font-family: "Roboto Mono", monospace;
}
.centered {
    text-align: center;
}

#wahooGIF {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
}