body {
    background-color: #c9bfbf;
    color: rgb(255,0,255,0.25);
    padding: 60px;
}

h3,h4,h5,h6{
    color: #999;
}

.error {
    color: red;
}

#hero{
    background-color: antiquewhite;
    padding: 60px;
}

div{
    background-color: salmon!important;
}