body {
    background-color: rgb(192, 197, 195);
    color: blue;
    padding: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: bisque;
}

.error {
    color: red;
}

#hero {
    background-color: white;
    padding: 20px;
}

div {
    background-color: blueviolet !important; /* important : really strong*/
}
