body {
    font-family: monospace;
    font-size: 16px; 
  }
  

  h1 {
    color: red; 
  }

  h2 {
    color: red; 
  }
  
  p {
    margin-left: 100px; 
  }
  
  h2 {
    margin-left: 100px; 
    font-size: 28px;
    font-weight: bold;
  }
  
  
  img {
    float: right;
    height: 175px; 
    margin: 0 24px;
  }