body {
    background-color: antiquewhite;
    color: rgba(255, 0, 255, 0.911);
    padding: 50px;
}

h3,h4,h5,h6{
    color: #999
}


.error {
    color: red;
    font-size: x-large;
    margin: 0;
}

#hero{
    background-color: blue;
    color: blue;
    padding: 20px;
    
}

div{
    background-color: salmon !important;  
}

