
:root{
    --green: #478559;
    --purple: #161748;
    --pink: #f95d9b;
    --bluelow: #39a0ca;
    --font_color: #F1F7F9;
    --bluedeep: #07326a;
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    color: var(--font_color);
    text-decoration: none;
    background-color: var(--bluedeep);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--bluedeep);
    display: flex;
    font-weight: 700;
    border-bottom: 2px solid var(--font_color);
}

#nav-bar{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar a {
    text-decoration: none;
    padding: 15px 10px 15px;
}

#Ocean {
    height: 50px;
    border-radius: 5px;
}

a:hover {
    background-color: rgba(79, 99, 163, 0.5);
    border-radius: 5px;    
}

a:visited {
    color: var(--font_color);
}


#number {
    font-size: 50px;
}



#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    width: 30%;
}


#moving-square-1 {
    margin-top: 50px;
    background-color: #F1F7F9;
    color: var(--bluedeep);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    animation: 0.5s 1 alternate moving;
    display: flex;
    align-items: center;
}

#moving-square-2 {
    margin-top: 5%;

    background-color: #F1F7F9;
    color: var(--bluedeep);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    animation: 1s 1 alternate moving;
    display: flex;
    align-items: center;
}

#moving-square-3 {
    margin-top: 5%;
    background-color: #F1F7F9;
    color: var(--bluedeep);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    animation: 1.5s 1 alternate moving;
    display: flex;
    align-items: center;
}

#moving-square-4 {
    margin-top: 5%;
    background-color: #F1F7F9;
    color: var(--bluedeep);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    animation: 2s 1 alternate moving;
    display: flex;
    align-items: center;
}

#forms-homework {
    margin-top: 10%;
    color: black;
    background-color: #F1F7F9;
    border-radius: 10px;
    border: var(--font_color) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 25%;
    align-self: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#green {
    color: green;
}

#purple {
    color: purple;
}

#orange {
    color: orange;
}

#pink {
    color: pink;
}

#gradList {
list-style-type: none;}

/*Animations*/
@keyframes moving {
    from {
        translate: 100vw 0;
        rotate:180deg;
        
          }
    
      to {
        translate: 0 0;
        rotate: 0;
        
      }
}

#button1 {
    margin: auto;
    text-align: center;
}

.homework {
    color: var(--bluedeep);
}

.homework:visited {
    color: var(--bluedeep);
}