
:root{
    --green: #478559;
    --purple: #161748;
    --pink: #f95d9b;
    --bluelow: #39a0ca;
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 480;
    font-style: normal;

    color: var(--purple);
    text-decoration: none;
    background-color: whitesmoke;
}

body {
    margin: 0;
}


nav {
    background-color: aliceblue;
    display: flex;
}

#nav-bar{
    list-style-type: none;
    display: flex;
}

#nav-bar a {
    margin: 20px;
}


#number {
    font-size: 50px;
}


:root a:hover {
    background-color: lightgrey;
    border-radius: 5px;    
}


#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}