body{
    background-color: #000000;
    color: rgb(255,255,255, 0.75);
    padding: 60px;

}
h3, h4 {
    color: #999;
}

.error {
    color: red;
}

#hero {
    background-color: chartreuse;
    padding: 20px;
    color: #000000;
}

div {
    background-color: aqua!important;
    color: #000000;
}